* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.loginContainer {
	margin-top: 200px;
	margin-bottom: 200px;
	width: 285px;
	height: 310px;
	border: 1px solid gray;
}

.username {
	margin-top: 50px;
}

.signUpForm {
	margin-top: 70px;
	background-color: rgba(255, 255, 255, .85);
	padding: 40px;
	width: 1232px;
	border-radius: 96px;
}

.userFormRequired {
	color: red;
}

@CHARSET "UTF-8";

/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
	color: #333;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

body {
	background: url('/css/clinicaltrial.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: 700;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login]>div {
	text-align: center;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: 700;
}

.nav-items {
	cursor: pointer;
}

.login-form {
	margin-top: 60px;
}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}

.form-links a {
	color: #fff;
}
.formContainer{
	margin-top: 10px;
}

.signUpHeader{
	text-align: center;
}
.h1, h1 {
	font-size: 50px;
	margin-top: -16px;
	margin-bottom: 36px;
}
.dashboard-container{
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	width: 70%;
}
.dashboard-name{
	padding: 20px 0px 20px 0px;
}
.dashboard-button{
	margin-top: 50px;
	margin-bottom: 30px;
}
.studies-container{
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	padding: 5%;
}

.companySignup{
	color:rgb(75, 75, 75) !important;
}
.companyContainerView{
width: 90%;
}

.companyStudySidebar{
	margin-left: 10px; 
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	width: 39%; 
	float: right; 
}
.companyDashboard{
	float: left; 
	padding: 35px; 
	margin: 0;
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	width: 55%;
}

.searchedStudyContainer{
	margin-top: 20px; 
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	padding-bottom: 10px; 
}


label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	margin-top: 10px;
	font-weight: 700;
}

.btn {
	margin-top: 10px
}

<<<<<<< HEAD
.companyStudies{
	margin-top: 70px;
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	width: 70%;
=======
.logo {
	width: 160px;
	height: 145px;
	margin-top: -60px;
	margin-bottom: -112px;
>>>>>>> 9f6a9c633fa230169525faa58b0b1bd3388c8a3d
}