* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.loginContainer {
	margin-top: 200px;
	margin-bottom: 200px;
	width: 285px;
	height: 310px;
	border: 1px solid gray;
}

.username {
	margin-top: 50px;
}

.signUpForm {
	margin-top: 70px;
	background-color: rgba(255, 255, 255, .85);
	padding: 40px;
	width: 1232px;
	border-radius: 96px;
}

.userFormRequired {
	color: red;
}

@CHARSET "UTF-8";

/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
	color: #333;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);
	&:focus {
		z-index: 2;
	}
}

body {
	background: url('/css/clinicaltrial.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login]>div {
	text-align: center;
}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}

.form-links a {
	color: #fff;
}
.formContainer{
	margin-top: 10px;
}
.signUpHeader{
	text-align: center;
}
.h1, h1 {
	font-size: 50px;
	margin-top: -16px;
	margin-bottom: 36px;
}
.dashboard-container{
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	width: 70%;
}
.dashboard-name{
	padding: 20px 0px 20px 0px;
}
.dashboard-button{
	margin-top: 50px;
	margin-bottom: 30px;
}
.studies-container{
	border-radius: 10px;
	border: 1px solid rgb(109, 109, 109);
	background-color: white;
	width: 80%;
	padding: 5%;
}

.companySignup{
	color: black !important;
}
