<h1>dashboard view</h1>
<div class="container">

  <div class="container dashboard-container">
    <div class="dashboard-name">
      <h3 class="text-center">
        <strong>{{loadedUser.firstName}} {{loadedUser.lastName}}</strong>
      </h3>
      <h5 class="text-center">{{loadedUser.email}}</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center"><strong>Age: </strong>{{loadedUser.age}}</h4>
      </div>
      <div class="col-md-4">
        <h4 class="text-center"><strong>Sex: </strong>{{loadedUser.gender}}</h4>
      </div>
      <div class="col-md-4">
        <h4 class="text-center"><strong>City: </strong>{{loadedUser.city}}</h4>
      </div>
    </div>
    <button class="dashboard-button center-block btn btn-lg btn-info" ui-sref="matches">Find Study Matches</button>
  </div>
  
</div>