<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <form method="post" role="login">
          <img src="./css/ICLINICALTransparent.png" class="img-responsive" alt="" />
          <input type="email" placeholder="Email" required ng-model="login.email" class="form-control input-lg" value="joestudent@gmail.com"
          />
          <input type="password" class="form-control input-lg" ng-model="login.password" id="password" placeholder="Password" required="" />
          <div class="pwstrength_viewport_progress"></div>
          <p ng-hide="userWrong">Your email and/or password does not match.</p>
          <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="userLogin(login)">Sign in</button>
          <div>
            <a ui-sref="userSignup" >Create account</a> or
            <a href="#">reset password</a>
          </div>
        </form>
        <div class="form-links">
          <a ui-sref="companySignup">Company sign up</a>
        </div>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>