<h1>matches view</h1>
<!-- this is to list all matching studies at once -->
<!-- <div class="container">
  <div class="studies-container" ng-repeat="item in apiResponse">
    <p>
      <strong><h4 class="text-center">{{item.public_title | uppercase}}</h4></strong>
    </p>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p ng-repeat="condition in item.conditions">
          <strong>Qualifying Conditions: </strong>{{condition.name}}</p>
        <p>
          <strong>Qualifying Gender: </strong>{{item.gender | uppercase}}</p>
        <p ng-repeat="intervention in item.interventions">
          <strong>Intervention: </strong>{{intervention.type | uppercase}}</p>
        <p>
          <strong>Status: </strong>{{item.status}}</p>
      </div>
      <div class="col-md-6">
        <p ng-repeat="organisation in item.organisations">
          <strong>Organisation: </strong>{{organisation.name}} -
          <i>{{organisation.role}}</i>
        </p>
        <p>
          <strong>POC: </strong> {{item.persons[0].name}}</p>
      </div>
    </div>
    <br>
    <div class="row">
      <strong><p class="text-center">Description</p></strong>
      <p>
        {{item.brief_summary}}
      </p>
    </div>
    <div>
        <button class="btn btn-primary btn-block">Interested</button>
      <button class="btn btn-danger btn-block">Not Interested</button>
    </div>
  </div> -->
<div class="container">
  <div class="studies-container">
    <div ng-hide="!matchesView">
      <p>
        <strong>
          <h4 class="text-center">{{currentStudy.public_title | uppercase}}</h4>
        </strong>
      </p>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p ng-repeat="condition in currentStudy.conditions">
            <strong>Qualifying Conditions: </strong>{{condition.name}}</p>
          <p>
            <strong>Qualifying Gender: </strong>{{currentStudy.gender | uppercase}}</p>
          <p ng-repeat="intervention in currentStudy.interventions">
            <strong>Intervention: </strong>{{currentStudy.type | uppercase}}</p>
          <p>
            <strong>Status: </strong>{{currentStudy.status}}</p>
        </div>
        <div class="col-md-6">
          <p ng-repeat="organisation in currentStudy.organisations">
            <strong>Organisation: </strong>{{organisation.name}} -
            <i>{{organisation.role}}</i>
          </p>
          <p>
            <strong>POC: </strong> {{currentStudy.persons[0].name}}</p>
        </div>
      </div>
      <br>
      <div class="row">
        <strong>
          <p class="text-center">Description</p>
        </strong>
        <p>
          {{currentStudy.brief_summary}}
        </p>
      </div>
      <div>
        <button class="btn btn-primary btn-block" ng-click="switchTest()">Interested</button>
        <button class="btn btn-danger btn-block" ng-click="switchStudies()">Not Interested</button>
      </div>
    </div>
    <div ng-hide="matchesView">
      <h3 class="text-center">You have no more matches.</h3>
    </div>
  </div>
</div>